# Notebook to convert properties.csv as provided by BeCode into a useable dataset

In [5]:
import pandas as pd

#____loading data____
df = pd.read_csv('../data/properties.csv')

#____selecting only houses____
df_house = df[df['property_type'] == 'HOUSE']

#____selecting only apartments____
df_app = df[df['property_type'] == 'APARTMENT']

In [6]:
df_house.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
5,22183000,548514.0,HOUSE,HOUSE,Flanders,Flemish Brabant,Halle-Vilvoorde,1700,NaN,NaN,...,0,0.0,0,1,AS_NEW,NaN,MISSING,MISSING,0,NaN
7,48707000,424000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9800,50.983015,3.570742,...,0,0.0,0,0,GOOD,NaN,MISSING,MISSING,1,NaN
9,58028000,3500000.0,HOUSE,VILLA,Flanders,West Flanders,Brugge,8300,51.353323,3.296353,...,0,0.0,0,0,TO_RENOVATE,394.0,D,MISSING,0,NaN

In [7]:
df_app.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN
6,13232000,325000.0,APARTMENT,APARTMENT,Wallonia,Walloon Brabant,Nivelles,1420,50.683607,4.371513,...,0,0.0,0,1,MISSING,NaN,MISSING,GAS,1,NaN
8,74290000,185000.0,APARTMENT,APARTMENT,Wallonia,LiÃ¨ge,LiÃ¨ge,4000,50.631825,5.557352,...,0,0.0,0,1,MISSING,212.0,C,MISSING,1,NaN

In [9]:
import pandas as pd

# ____alligning columnnames____
new_column_names = {
    'id': 'property_id',
    'price': 'price',
    'subproperty_type': 'property_subtype',
    'province': 'province',
    'locality': 'locality_name',
    'zip_code': 'postal_code',
    'latitude': 'latitude',
    'longitude': 'longitude',
    'total_area_sqm': 'living_area',
    'surface_land_sqm':'surface_of_good',
    'nbr_frontages': 'number_of_facades',
    'equipped_kitchen': 'kitchen_type',
    'fl_furnished': 'furnished',
    'fl_open_fire': 'open_fire',
    'fl_terrace': 'terrace',
    'terrace_sqm': 'terrace_area',
    'fl_garden': 'garden',
    'garden_sqm': 'garden_area',
    'fl_swimming_pool': 'swimming_pool',
    'state_building': 'state_of_building'    
}

df_house.rename(columns=new_column_names, inplace=True)
df_app.rename(columns=new_column_names, inplace=True)

# ______Drop the columns that are not included in the new list______
columns_to_drop = [col for col in df_house.columns if col not in new_column_names.values()]
df_house.drop(columns=columns_to_drop, inplace=True)

# ______Drop the columns that are not included in the new list______
columns_to_drop = [col for col in df_app.columns if col not in new_column_names.values()]
df_app.drop(columns=columns_to_drop, inplace=True)

/tmp/ipykernel_447949/1004207499.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house.rename(columns=new_column_names, inplace=True)
/tmp/ipykernel_447949/1004207499.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app.rename(columns=new_column_names, inplace=True)
/tmp/ipykernel_447949/1004207499.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house.drop(columns=columns_to_drop, inplace=True)
/tmp/ipykernel_447949/1004207499.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app.drop(columns=columns_to_drop, inplace=True)

In [10]:
# _____Print or display the modified DataFrame_____
df_house.head()

,property_id,price,property_subtype,province,locality_name,postal_code,latitude,longitude,living_area,surface_of_good,number_of_facades,kitchen_type,furnished,open_fire,terrace,terrace_area,garden,garden_area,swimming_pool,state_of_building
1,2104000,449000.0,HOUSE,East Flanders,Gent,9185,51.174944,3.845248,NaN,680.0,NaN,MISSING,0,0,0,0.0,0,0.0,0,MISSING
3,58496000,501000.0,HOUSE,Antwerp,Turnhout,2275,51.238312,4.817192,187.0,505.0,NaN,MISSING,0,0,0,0.0,0,0.0,0,MISSING
5,22183000,548514.0,HOUSE,Flemish Brabant,Halle-Vilvoorde,1700,NaN,NaN,187.0,710.0,4.0,MISSING,0,0,0,0.0,0,0.0,0,AS_NEW
7,48707000,424000.0,HOUSE,East Flanders,Gent,9800,50.983015,3.570742,155.0,291.0,NaN,HYPER_EQUIPPED,0,0,0,0.0,0,0.0,0,GOOD
9,58028000,3500000.0,VILLA,West Flanders,Brugge,8300,51.353323,3.296353,277.0,588.0,NaN,MISSING,0,0,0,0.0,0,0.0,0,TO_RENOVATE

In [11]:
df_app.head()

,property_id,price,property_subtype,province,locality_name,postal_code,latitude,longitude,living_area,surface_of_good,number_of_facades,kitchen_type,furnished,open_fire,terrace,terrace_area,garden,garden_area,swimming_pool,state_of_building
0,34221000,225000.0,APARTMENT,Antwerp,Antwerp,2050,51.217172,4.379982,100.0,NaN,2.0,INSTALLED,0,0,1,5.0,0,0.0,0,MISSING
2,34036000,335000.0,APARTMENT,Brussels,Brussels,1070,50.842043,4.334543,142.0,NaN,2.0,INSTALLED,0,0,1,NaN,0,0.0,0,AS_NEW
4,48727000,982700.0,DUPLEX,Walloon Brabant,Nivelles,1410,NaN,NaN,169.0,NaN,2.0,HYPER_EQUIPPED,0,0,1,20.0,1,142.0,0,AS_NEW
6,13232000,325000.0,APARTMENT,Walloon Brabant,Nivelles,1420,50.683607,4.371513,80.0,NaN,NaN,MISSING,0,0,1,11.0,0,0.0,0,MISSING
8,74290000,185000.0,APARTMENT,LiÃ¨ge,LiÃ¨ge,4000,50.631825,5.557352,NaN,NaN,2.0,MISSING,0,0,1,NaN,0,0.0,0,MISSING

In [13]:
# _____saving house data to csv____
df_house.to_csv('../data/properties_houses.csv', index=False)

In [14]:
# _____saving house data to csv____
df_app.to_csv('../data/properties_apartments.csv', index=False)